footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 85px;
  .storeLocator {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    margin-bottom: 16px;
    color: white;
    background-color: #3b2b2f;
    min-height: 58px;
    width: 100%;
    padding: 0 133px 0 30px;
    .socials {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
    }
    .businessInfo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;

      gap: 16px;
    }
  }
  .footerFlexBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 44px;
    section {
      padding: 0 15px;
      flex: 1;
    }
    h1 {
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #2d2a26;
      &:nth-of-type(2) {
        margin-top: 30px;
      }
    }

    a {
      display: block;
      margin-bottom: 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      color: #292929;

      &:hover {
        text-decoration: underline;
        color: #4e4e50;
        text-decoration-color: #2f4053;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      color: #292929;
      margin-bottom: 29px;
    }
  }
  hr {
    border: 0.1px solid #cecece;
    margin-bottom: 20px;
    scale: 1;
  }
  .legalInfo {
    p {
      text-align: center;
      width: 100%;
      font-style: italic;
      font-size: 12px;
      color: #2d2a26;
      margin-bottom: 0;
      i {
        font-style: normal;
        margin: 0 10px;
      }
    }
  }
  .emailSignup {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 38px;
    width: 100%;
    text-align: left;
    .input {
      border-radius: 3px 0 0 3px;
      border: 2px solid #d8d8d8;
      border-right: 0;
      font-weight: 500;
      padding-left: 17px;
    }
    input {
      flex: 1;
      border: 2px solid #d8d8d8;
    }
    .btn {
      max-width: 91px;
      background-color: white;
      border-color: #f9c507;
      cursor: pointer;
      &:hover {
        background-color: #f9c507;
      }
    }
  }
  .countrySelect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    select {
      background-color: transparent;
      border: 0;
      outline: 0;
      padding-right: 20px;
    }
  }
}
